#home-page {
  
  #hcc-hero-section {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url('src/img/steak.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    align-items: center;
    position: relative;
  
    #hcc-hero-content-wrapper {
      margin-left: 100px;
      width: 50%;
  
      h1 {
        font-size: 2.6rem;
        color: white;
        margin: 0;
        line-height: 1.5;
  
        span {
          color: $primary;
        }
      }
  
      p {
        color: white;
        font-size: 1.2rem;
      }
  
      #hcc-hero-cta-wrapper {
        margin-top: 50px;
      }
    }
  
    #hcc-hero-scroll {
      position: absolute;
      bottom: 30px;
      width: 10%;
      margin: 0 45%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
      small {
        color: white;
      }
  
      @keyframes scroll-down {
        
        from {
          transform: translateY(0);
        }
  
        to {
          transform: translateY(10px);
        }
      }
  
      img{
        margin-top: 10px;
        animation: scroll-down .45s ease-in-out infinite alternate;
      }
    }
  }

  #hcc-social-proof {
    padding: 0 50px;
    position: relative;
    z-index: 0;

    h2 {
      font-weight: normal;
      color: $primary;
      text-align: center;
      margin: 45px 0;
    }

    .swiper-social-proof {
      height: 200px;
      overflow: hidden;

      .swiper-pagination {
        .swiper-pagination-bullet-active {
          background: $primary;
        }
      }
    }

    #swiper-next-button {
      position: absolute;
      left: 15px;
      transform: rotate(180deg);
      top: 100px;
      cursor: pointer;
    }

    #swiper-prev-button {
      position: absolute;
      right: 15px;
      top: 100px;
      cursor: pointer;
    }
  }

  #hcc-home-menu {
    background: #F6F6F6;
    padding: 120px 120px 80px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;

    #hcc-home-menu-container {
      background: white;

      #hcc-menu-best-selling-container {
        display: flex;

        > img {
          object-fit: cover;
          object-position: 50% 50%;
          width: 50%;
          height: 400px;
        }

        #hcc-menu-best-selling-content-wrapper {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          #hcc-menu-best-selling-content {
            width: 80%;

            #hcc-menu-best-selling-heading-wrapper {
              display: flex;
              align-items: flex-end;

              h4 {
                color: $secondary;
                margin: 0;
              }

              img {
                width: 20px;
                height: 20px;
                margin-left: 7px;
              }
            }

            h3 {
              color: $primary;
              font-size: 1.5rem;
              margin: 15px 0 0 0;
            }

            p {
              color: $secondary;
            }

            #hcc-menu-best-selling-social-proof {
              margin-top: 50px;
            }
          }
        }
      }

      #hcc-menu-new-menu-container {
        display: flex;

        img {
          object-fit: cover;
          object-position: 50% 50%;
          width: 50%;
          height: 400px;
          order: 1;
        }

        #hcc-menu-new-menu-content-wrapper {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          order: 0;

          #hcc-menu-new-menu-content {
            width: 80%;

            h4 {
              color: $secondary;
              margin: 0;
            }

            h3 {
              color: $primary;
              font-size: 1.5rem;
              margin: 15px 0 0 0;
            }

            p {
              color: $secondary;
            }
          }
        }
      }
    }

    a {
      margin-top: 50px;
    }
  }

  #hcc-customer-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    #hcc-customer-image-title {
      background: linear-gradient(rgba(255, 188, 30, .6), rgba(255, 188, 30, .6)), url('src/img/pelanggan_1.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      grid-row: 1 / span 2;

      h2 {
        font-size: 1.7rem;
        margin: 0;
        color: white;
      }

      p {
        color: white;
      }
    }

    #hcc-customer-image-container {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .hcc-customer-image-wrapper {
        
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .swiper-customer-image {
    display: none;
  }
}

@include media-screen('tablet') {
  #home-page {
    #hcc-hero-section {
      height: 60vh;

      #hcc-hero-content-wrapper {
        width: 100%;
        margin: 70px;
      }

      #hcc-hero-scroll {
        display: none;
      }
    }

    #hcc-social-proof {
      #swiper-next-button, #swiper-prev-button {
        display: none;
      }

      .swiper-social-proof {
        overflow: hidden;
        height: 150px;
      }
    }
  
    #hcc-home-menu {
      padding: 70px;

      #hcc-home-menu-container {
        #hcc-menu-best-selling-container {
          flex-direction: column;

          > img {
            width: 100%;
            height: 300px;
          }

          #hcc-menu-best-selling-content-wrapper {
            width: 100%;

            #hcc-menu-best-selling-content {
              width: 100%;
              padding: 40px;
            }
          }
        }

        #hcc-menu-new-menu-container {
          flex-direction: column;

          img {
            order: 0;
            width: 100%;
            height: 300px;
          }

          #hcc-menu-new-menu-content-wrapper {
            order: 1;
            width: 100%;

            #hcc-menu-new-menu-content {
              width: 100%;
              padding: 40px;
            }
          }
        }
      }
    }

    #hcc-customer-images {
      grid-template-columns: 1fr;

      #hcc-customer-image-title {
        height: 400px;
      }

      #hcc-customer-image-container {
        display: none;
      }
    }

    .swiper-customer-image {
      display: block;
      overflow: hidden;

      img {
        width: 100%;
        object-fit: cover;
        height: 400px;
      }
    }
  }
}