#hcc-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
  background: $cream;

  #hcc-logo-container {
    cursor: pointer;

    svg {
      width: 150px;
      height: 32px;
    }
  }

  .menu-main-container {

    #menu-main {
      padding: 0;
      display: flex;

      li {
        list-style: none;

        &:hover a {
          color: $primary;
        }

        a {
          text-decoration: none;
          font-weight: bold;
          color: $secondary;
          transition: color .3s;
          font-size: .8rem;
          letter-spacing: .5px;
          text-transform: uppercase;
        }

        &:nth-child(n+2) {
          margin-left: 35px;
        }
      }

      .current-menu-item a {
        color: $primary;
      }
    }
  }
}

#hcc-header-mobile {
  display: none;
}

@include media-screen('tablet') {
  #hcc-header {
    display: none;
  }

  #hcc-header-mobile {
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $cream;
    box-sizing: border-box;
    padding: 15px 20px;

    #hcc-logo-container {
      svg {
        width: 90px;
        height: 40px;
      }
    }

    #hcc-menu-hamburger {
  
      div {
        height: 3px;
        width: 27px;
        background: $primary;
        border-radius: 22px;

        &:nth-child(n + 2) {
          margin-top: 5px;
        }
      }
    }

    #hcc-mobile-dropdown-menu-container {
      background: $cream;
      position: absolute;
      height: 100vh;
      width: 100vw;
      left: 0;
      top: 0;
      z-index: 2;
      justify-content: center;
      align-items: center;
      display: none;

      img {
        position: absolute;
        top: 70px;
        right: 70px;
        width: 50px;
        height: 50px;
      }

      .menu-main-container {
        #menu-main-1 {
          padding: 0;

          li {
            list-style: none;
            text-align: center;

            &:nth-child(n + 2) {
              margin-top: 50px;
            }

            a {
              font-size: 3rem;
              text-decoration: none;
              color: $secondary;
            }
          }

          .current-menu-item a {
            font-weight: bold;
            color: $primary;
          }
        }
      }
    }
  }
}

@include media-screen('phone') {
  #hcc-header-mobile {
    #hcc-mobile-dropdown-menu-container {
      img {
        top: 30px;
        right: 30px;
        width: 30px;
        height: 30px;
      }

      .menu-main-container #menu-main-1 li {
        a {
          font-size: 1.7rem;
        }

        &:nth-child(n + 2) {
          margin-top: 25px;
        }
      }
    }
  }
}