@mixin media-screen($device: 'phone') {
  $size: 0;

  @if $device == 'phone' {
    $size: 480px;
  } @else if $device == 'tablet' {
    $size: 1200px;
  }

  @media only screen and (max-width: $size) {
    @content;
  }
}